*
    border-radius: 0 !important

body
	font-family: arial
	font-size: 13px

.red-dot::after
	content: ' *'
	color: red

.display-table
	display: table

.strong
	font-weight: bold

.show
	display: inherit

.hide
	display: none

.white
	color: white

.red
	color: #F44235 !important
.red-bg
	background-color: #F44235 !important
	color: white !important

.green
	color: #4CAF50 !important
.green-bg
	background-color: #4CAF50 !important

.light-green
	color: #8BC349 !important
.light-green-bg
	background-color: #8BC349 !important

.blue
	color: #2196F3 !important
.blue-bg
	background-color: #2196F3 !important

.blue-gray
	color: #E8ECED !important
.blue-gray-bg
	background-color: #E8ECED !important

.cyan
	color: #00BCD4 !important
.cyan-bg
	background-color: #00BCD4 !important

.orange
	color: #FF9800 !important
.orange-bg
	background-color: #FF9800 !important

.lime
	color: #CDDC38 !important
.lime-bg
	background-color: #CDDC38 !important

.yellow
	color: #FFEB3B !important
.yellow-bg
	background-color: #FFEB3B !important

.amber
	color: #FFC10D !important
.amber-bg
	background-color: #FFC10D !important

.brown
	color: #EBE7E5 !important
.brown-bg
	background-color: #EBE7E5 !important

.left-align
	text-align: left

.right-align
	text-align: right

.center-align
	text-align: center


.right-align
	text-align: right

.middle-align
	vertical-align: middle !important

.pointer
	cursor: pointer

.dot-underline
	border-bottom: 1px dotted black

.hambuger
	margin-left: 10px

.grid-thumbnail
	width: 53px
	padding: 0 !important

.thin-padding
	padding-left: 25px

.padding-5
	padding: 5px

.padding-10
	padding: 10px

.margin-5
	margin: 5px

.margin-10
	margin: 10px

.left-tool
	width: 25px

.right-tool
	width: 40px

.main-content
	padding: 15px

td .pagination
	margin: 0

.bulk-remove
	padding: 6px 6px

.rc-table
	font-size: 13px !important

.rc-table th, .rc-table td
	padding: 10px 8px !important

.pagination-wrapper
	text-align: right

.pagination-wrapper ul
	margin: 0

.drop-zone
	width: 100%
	height: 34px
	border-width: 1px
	border-color: #CCCCCC
	border-style: solid
	padding: 7px
	color: #CCCCCC

.drop-zone-file-name
	color: #444444

.preview-image
	max-width: 100%

.ReactModal__Overlay
	z-index: 5 !important

.pagination-wrapper td
	border-bottom: 2px solid #DDDDDD
	padding: 0 !important
	padding-left: 5px !important
	padding-right: 5px !important
	padding-top: 5px !important

.Select-control,.Select-input
	height: 30px

.Select-value
	line-height: 30px!important
	font-size: 13px

.custom-modal-footer .submit
	text-align: right


.custom-modal-footer .cancel
	text-align: left

.main-menu .active
	background-color: #cccccc !important

.list-group-item.active-lv1
	z-index: 2
	color: #fff
	background-color: #337ab7
	border-color: #337ab7

.heading
	background-color: #337AB7
	color: white
	height: 44px

.heading-item
	line-height: 56px
	float: right

.heading-logo
	font-size: 20px
	line-height: 44px
	padding-left: 10px
	padding-right: 10px

.footer
	border-top: solid 2px #FF9800
	background-color: #337AB7
	color: white
	padding: 10px

.footer a
	color: white

.main-right-dropdown
	position: relative
	float: right
	display: table
	top: 13px
	right: 15px

.spinner-container
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	cursor: wait
	text-align: center
	z-index: 999999999

.spinner-sub-container
	width: 100%
	height: 45px
	padding-top: 5px
	background-color: white
	opacity: 0.3

.field-error
	font-size: 12px
	color: red
	margin-top: 5px

.breadcrumb-container
	background-color: #EFEFEF
	line-height: 40px
	padding-left: 10px
	font-weight: bold

.checkbox label
	line-height: 21px

.Select-control, .Select-input
	height: 32px
.DateInput
	z-index: 4 !important
	padding: 0 !important
	font-size: 13px !important
	width: auto !important
.DateRangePicker__picker
	z-index: 4 !important
.Select-menu-outer
	z-index: 4 !important

.border-bottom
	border-bottom: 1px solid #DDDDDD

.status-table
	border: 1px solid #DDDDDD
	borderCollapse: collapse

.status-table td
	border: 1px solid #DDDDDD
	borderCollapse: collapse



.tooltip1
    position: relative

.tooltip1 .tooltiptext1
    visibility: hidden
    width: 120px
    background-color: rgba(0, 0, 0, 0.7)
    color: #fff
    text-align: center
    padding: 2px
    border-radius: 6px
    position: absolute
    z-index: 1

.tooltip1:hover .tooltiptext1
    visibility: visible;

@media print
	.printable
		display: block
		position: absolute
		top: 0 !important
		left: 0 !important
		right: 0 !important
	.non-printable
		display: none
	#content-wrapper-parent
		left: 0 !important
		right: 0 !important

@page
    size: auto
    margin-top: 0
    margin-left: 10mm
    margin-right: 10mm

.noselect
	-webkit-touch-callout: none /* iOS Safari */
	-webkit-user-select: none /* Chrome/Safari/Opera */
	-khtml-user-select: none /* Konqueror */
	-moz-user-select: none /* Firefox */
	-ms-user-select: none /* Internet Explorer/Edge */
	user-select: none /* Non-prefixed version, currently not supported by any browser */
